<!-- views/about.ejs -->

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title><%= title %></title>
    </head>
    <body>
        <h1> <%= greeting %> </h1>
        <p>
             <%= name %>
        </p>
        <p>
            <%= alter %>
        </p>

        <p>
            <%= farbe %>
        </p> 
        <p>
            <%= jahreszeit %>
        </p> 
        <p>
            <%= zahl %>
        </p> 
        <p>
            <%= tier %>
        </p> 

        <p>
            <%= text %>
        </p>      
    </body> 
</html>  